:root {
   background-color: lightpink;
  }

  h1{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    background-color: azure;
    border-radius: 10px;
    padding: 20px;
}
 
img {
    height: 200px;
    width: 400px;
    border-radius: 20px;
}